{% extends 'base.html' %}

{% load static %}

{% block title %} {{block.super}} - CARRELLO {% endblock %}

{% block content %}

<style>
    .cart-list{


    }
    .aggiungi-togli{
        font-size:25px;
    }
</style>


    {% load cart_tag %}

    <p>Number of Items : {{request.session.cart|length}}</p>

    <p>Cart Detail</p>

    <a href="{% url 'cart_clear' %}">Clear Cart</a>

    {% for key,value in request.session.cart.items %}


<div class="cart-list">
    <p> {{value.name}} <img src="{{value.image}}" width="120" height="80">
        pezzi {{value.quantity}} € {{value.price}}
        <a class="aggiungi-togli" href="{% url 'item_increment' value.product_id %}">+</a>
        <a class="aggiungi-togli" href="{% url 'item_decrement' value.product_id %}">-</a>
    </p>
</div>
    {% endfor %}

    <p>Totale €{{ cart_total_amount}}</p>


{% endblock %}