{% extends 'base.html' %}

{% load static %}

{% block title %} {{block.super}} - CARRELLO {% endblock %}

{% block content %}

{% load mathfilters %}
{% load cart_tag %}



<style>

    p {
        text-decoration: none;
        font-size: 25px;
        text-color:#52574e;
    }

    #cart-form {
        position: relative;
        width: auto;
        padding: 0;
        margin: 5% 10% 2% 10%;
        padding: 2%;
        text-decoration: none;
        color:#52574e;
        border: 2px solid #52574e;
        border-radius: 5px;
    }

    .empty-cart {
        font-size: 45px;
        text-align: center;
        vertical-align: center;
    }

    .center-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
        font-size: 45px;
    }

    .line-break {
        background-color:#52574e ;
        height: 2px;
    }

    #cart-details {
        margin-top: 30px;

    }

    #cart-label {
        display:flex;
        justify-content: space-between;
        align-items:center;
        margin-top:10px;
        font-size: 20px;
        font-style: italic;
    }

    #one-cart-item {
        display:flex;
        justify-content: space-between;
        align-items:center;
        margin-top:10px;
    }

    #one-cart-item div {

        font-size: 30px;
    }

    .image-product {
        flex-basis:18%;

    }

    .name-product {
        flex-basis:20%;
        text-align: left;

    }

    .price-product {
        flex-basis:22%;
        text-align: center;

    }

    .quantity-update {
        flex-basis:18%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


    .arrows {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }

    .quantity-product-total {
        flex-basis:14%;

        text-align:right;
    }

    .trash-can {
        flex-basis:8%;
        text-align: right;

    }

    .img-in-cart{
        max-width: 120px;
        height: auto;
    }

    #arrow-up, #arrow-up-fill{

        margin-bottom: -7px;
    }

    #arrow-down, #arrow-down-fill{

        margin-top: -7px;
    }

    .bi-caret-down, .bi-caret-up, .bi-trash{
        font-size: 35px;
        color: #52574e;
    }

    .bi-caret-down-fill, .bi-caret-up-fill{
        font-size: 26px;
        color: #52574e;
    }

    .bi-trash-fill{
        font-size: 20px;
        color: #52574e;
    }


    .not-working {
        color: #deddbb;
    }

    .button-size {
        font-size: 25px;
        color: #52574e;
    }

    .add-to-cart {
        background-color: #fe9920;
        margin-top: 0;
        padding: 5px;
        border-radius:4px;
    }

    .add-to-cart:hover {
        border: 1.5px solid #f3ecdc;
        padding: 6px;

    }

    #main .move-in-website {
        position: absolute;
        bottom:100px;
        left: 30px;
    }

    .down-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10% 2%;

    }

</style>

<div id="cart-form">

{% if cart_total_quantity == '' %}
    <div class="empty-cart">Il carrello è vuoto</div>


{% else %}

    <div class="center-title">
        <div>Carrello {{cart_total_quantity}}</div>
        <div>Totale €{{ cart_total_amount}}</div>
    </div>


    <!--<a href="{% url 'cart_clear' %}">Clear Cart</a>-->


    <div id="cart-details">
        <div class="line-break"></div>

        <div id="cart-label">

            <div class="image-product"></div>
            <div class="name-product">Prodotto</div>
            <div class="price-product">Prezzo</div>
            <div class="quantity-update">Quantità</div>
            <div class="quantity-product-total">Totale</div>
            <div class="trash-can"></div>

        </div>
    {% for key,value in request.session.cart.items %}

        <div id="one-cart-item">

            <div class="image-product"><a href="{% url 'dettaglio_prodotto' value.product_id %}"><img class="img-in-cart" src="{{value.image}}" ></a></div>
            <div class="name-product">{{value.name}}</div>
            <div class="price-product">€ {{ value.price }}</div>

            <div class="quantity-update">
                <div class="quantity-product">{{value.quantity}}</div>
                <div class="arrows">
                    <div id="arrow-up-fill">
                        <a class="aggiungi-togli" href="{% url 'item_increment' value.product_id %}">
                            <i class="bi bi-caret-up-fill"></i>
                        </a>
                    </div>

                    <div id="arrow-down-fill">
                        {% if value.quantity > 1 %}
                        <a class="aggiungi-togli"
                           href="{% url 'item_decrement' value.product_id %}">
                            <i class="bi bi-caret-down-fill"></i>
                        </a>
                        {% else %}
                        <i class="bi bi-caret-down-fill not-working"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% with answer=value.price %}


            <div class="quantity-product-total">€ {{answer|mul:value.quantity}}</div>
            {% endwith %}
            <div class="trash-can">
                <a class="aggiungi-togli" href="{% url 'cart_remove' value.product_id %}">
                    <i class="bi bi-trash-fill"></i>
                </a>
            </div>

        </div>

    {% endfor %}


    </div>



{% endif %}


</div>

<div class="down-buttons">
        <div><a class="login-button button-size" href="{% url 'mercato' %}">Torna al mercato</a></div>
    {% if cart_total_quantity != '' %}
        <div><a class="login-button button-size" href="{% url 'checkout' %}">Continua</a></div>
    {% endif %}
    </div>

{% endblock %}
