{% extends 'base.html' %}

{% load static %}

{% block title %} {{block.super}} - LOG_IN {% endblock %}

{% block content %}


<html lang="en">
<head>


    <style>
    .social-button {
        font-weight: 300;
        font-size: 20px;
    }

    </style>
</head>
<body>




<h1 class="center-title">Login</h1>
<div class="col-md-8 mt-3 left">
    <div class="card mb-4">
        <div class="card-body">
            <div class="form-group">
                <form action="" method="post">
                    {% csrf_token %}
                    <p>Username {{ form.username }}</p>
                    <p>Password {{ form.password }}</p>

                    <div >
                        <input class="button social-button" type="submit" value="Accedi">
                    </div>
                    <p id="form-errors">{{ form.errors }}</p>

                    <button class="button social-button">
                        <a href="{% url 'social:begin' 'google-oauth2' %}">Accedi con GOOGLE</a>
                    </button>

                    <button class="button social-button">
                        <a href="{% url 'social:begin' 'facebook' %}">Accedi con Facebook</a>
                    </button>
                    <button class="button social-button">
                        <a href="">Login with LinkedIn</a>
                    </button>

                    <p>Non hai un account?<a href="{% url 'register'%}">Crea Account</a></p>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>


{% endblock content %}