{% extends 'base.html' %}

{% load static %}

{% block title %} {{block.super}} - LOG_IN {% endblock %}

{% block content %}


<html lang="en">
<head>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">

    <style>


        p {
            margin-bottom: 10px;
        }


    </style>
</head>
<body>
<div id="fb-root"></div>
<script async crossorigin="anonymous" defer
        nonce="0KgyrTJ5"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=421926379249808&autoLogAppEvents=1">
</script>
<h1 class="crypto-title">Login</h1>
<div class="col-md-8 mt-3 left">
    <div class="card mb-4">
        <div class="card-body">
            <div class="form-group">
                <form method="post" action="">
                    {% csrf_token %}
                    <p>{{ form.username.label }} {{ form.username }}</p>
                    <p>{{ form.password.label }} {{ form.password }}</p>

                    <div class="btn-submit">
                        <input type="submit" name="login">
                    </div>
                    <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with"
                         data-layout="default" data-auto-logout-link="false" data-use-continue-as="false">
                    </div>
                    <p>Don't have an account?<a href="{% url 'register'%}">Register</a></p>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>


{% endblock content %}