
    @import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Raleway&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans:wght@100;400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');
    /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
    

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-family: 'Josefin Sans', sans-serif;

    }

    html,
    body {
        height: 100%;
    }

    html {
        background-color: rgb(243, 245, 240);

    }

    /*background-image: url("{% static 'img/wallpaper-lino.jpg'%}");*/

    body {
        margin: 0 5px;

    }

    #container {
        min-height: 100%;
    }

    #main {
        overflow: auto;
        padding-bottom: 80px;
    }

    #footer,
    #head-base {
        border-radius: 4px;    
        background-color: rgb(115, 91, 68);
    }

    #head-base {

        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 12px 3%;
        
    }

    .home1 {

        order: 1;
        flex-grow: 1;
        flex-basis: 33%;
        align-self: flex-end;
        padding-bottom: 8px;

    }

    .home2 {

        order: 2;
        flex-grow: 1;
        flex-basis: 34%;
        text-align: center;

    }

    .home3 {

        order: 3;
        flex-grow: 1;
        flex-basis: 33%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

    }

    .home-button {
        padding: 2px;
        font-weight: 500;
        font-size: 30px;
        color: #f3ecdc;
    }

    .home-button:hover {
        color: #deddbb;
        border-radius: 2px;
    }

    .asana-button {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    .visible-username {
        text-decoration: none;
        margin-top: 2px;
        margin-left: 2px;
        font-size: 20px;
        color: #f3ecdc;
    }

    #mercato-button {

        font-size: 75px;
        font-family: 'Amatic SC', cursive;
        font-weight: 400;
        padding: 0 13px;
        border: 4px double #f3ecdc;
        border-radius: 3px;

    }

    #content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%)
    }

    #cart-button {
        color: #f3ecdc;
        font-size: 25px;
        position: relative;
    }

    #cart-button #cart-number {
        position: absolute;
        top: -4px;
        right: -4px;

    }

    #cart-number {
        color: #52574e;
        margin-left: -12px;
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: #fe9920;
        padding: 4px 3px 0 3px;
        border-radius: 50px;
    }

    .bi-cart2 {
        font-size: 50px;
        padding: 0 2px 0;
    }

    bi {
        position: relative;
    }

    .bi span {
        position: absolute;
        top: 0;
        right: 0;
    }

    .bi-cart2:hover {

        color: #deddbb;
        border-radius: 2px;
        padding: 0 2px 0;
    }

    .login-button {

        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        font-size: 17px;
        color: black;
        text-align: center;
        text-decoration: none;
        margin-right: 2px;
        padding: 3.5px 2.5px 0.7px 1.8px;
        background: #c9b28b;
        border: 1px solid black;
        border-radius: 4px;

    }

    .login-button:hover {
        background: #deddbb;
        color: black;
        border-radius: 4px;
    }


    #footer {
        padding: 20px;
        margin-top: -65px;
        margin-bottom: 5px;
        position: relative;
        height: 60px;
        clear: both;

    }

    #footer .text-center {
        text-align: center;
        vertical-align: center;
        font-size: 16px;
        color: #f3ecdc;
        text-decoration: none;
        margin-bottom: 10px;
    }



    @media screen and (max-width: 1000px) {


    }

    @media screen and (max-width: 697px) {

        .home2 {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }


    }

    @media screen and (max-width: 385px) {



    }
